@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
}

/*  Secci贸n Hero */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    /* Espacio entre texto e imagen */
    padding: 60px 10%;
    flex-wrap: wrap;
    /* Para que en pantallas peque帽as se apilen */
    text-align: left;
}

.titulo {
    max-width: 300px;
}

.titulo h1 {
    color: #110957;
    font-family: '';
    font-size: 2.5rem;
    font-weight: bold;
    color: #110957;
    margin-bottom: 15px;
}

.titulo ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.titulo ul li {
    color: #110957;
    font-family: 'Boldonse';
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.btn-principal {
    padding: 12px 24px;
    color: #110957;
    font-family: 'Boldonse';
    background: white;
    border: 2px solid #4B0082;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-principal:hover {
    color: #110957;
    font-family: 'Boldonse';
    background: #4B0082;
    color: white;
}

.hero-img img {

    max-width: 350px;
    border-radius: 12px;
}

/*  Secci贸n Pasos */
.pasos {
    color: #110957;
    font-family: 'Boldonse';
    text-align: center;
    padding: 60px 5%;
}

.pasos h2 {
    color: #110957;
    font-family: 'Boldonse';
    font-size: 2rem;
    margin-bottom: 40px;
    font-weight: bold;
}

.steps-container {
    color: #110957;
    font-family: 'Boldonse';
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    /* Para que se adapten en m贸viles */
}

.step {
    color: #110957;
    font-family: 'Boldonse';
    max-width: 250px;
    text-align: center;
}

.step img {
    color: #110957;
    font-family: 'Boldonse';
    width: 80px;
    margin-bottom: 15px;
}

.step h3 {
    color: #110957;
    font-family: 'Boldonse';
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.step p {
    color: #110957;
    font-family: 'Boldonse';
    font-size: 0.95rem;
    color: #444;
}

/*  Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*  Cards */
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card {
    width: 325px;
    height: 450px;
    display: flex;
    flex-direction: column;
    background-color: #52A9DF;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0, 2);
    margin: 20px;
}

card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 16px;
    background-color: #c5c5c5
}

.card-content h3 {
    font-size: 28px;
    margin-bottom: 8;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-container p {
    color: #52A9DF;
    font-size: 15px;
    line-height: 1.3;
}

.card-content .btn {
    display: inline-block;
    font-family: 'Boldonse';
    color: #110957;
    padding: 8px 16px;
    background-color: #52A9DF;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.nutrition-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #fff;
}

.nutrition-info .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nutrition-info strong {
    font-size: 15px;
    font-weight: bold;
}

.nutrition-info span {
    font-size: 11px;
    font-style: italic;
}

.centered-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    color: #fff;
    font-weight: 600;
    pointer-events: auto;
    text-decoration: none;
}

/*  Secci贸n "Tienes que Probar" */
.probar {
    text-align: center;
    padding: 60px 5%;
}

.probar h2 {
    color: #110957;
    font-family: 'Boldonse';
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Botones */
.btn-ver,
.btn-ver2 {
    color: #ffffff;
    font-family: 'Boldonse';
    display: inline-block;
    margin: 20px auto 40px auto;
    padding: 12px 24px;
    background: #110957;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease, background 0.3s ease, color 0.3s ease;
}

.btn-ver:hover,
.btn-ver2:hover {
    background: #007ACC;
    color: #110957;
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 10px 20px #110957;
}

.probar2 {
    width: 100%;
    display: flex;
    justify-content: center;
    /* centra horizontal */
    margin-top: 20px;
    /* separa hacia abajo */
}